<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% if post.image %}

                    {% if site.lazyimages == "enabled" %}
                        <img class="img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                    {% else %}
                        <img class="img-fluid" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}"> 
                    {% endif %}

                {% endif %}
            </a>
        </div>
        <div class="card-body card-conference">
            {% if post.conference-link %}
            <a class="text-dark" target="_blank" href="{{ post.conference-link }}">
            {% endif %}
                <h2 class="card-title">{{ post.conference }}</h2>
                <h4 class="card-subtitle"><span>{{ post.place }}</span></h4>
                <h4 class="card-subtitle">{{ post.date | date_to_string }}</h4>
            {% if post.conference-link %}
            </a>
            {% endif %}
        </div>
        <div class="card-body card-talk">
            <h4 class="card-talk-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {% if post.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                {% include star_rating_postbox.html %}
                </div>
                {% endif %}
            </h4>
            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:30 }}</h4>
        </div>
        {% if post.video or post.slides %}
        <div class="row mx-1 pb-1 card-footer-links">
            {% if post.video %}
            <div class="col-6">
                <a target="_blank" href="{{ post.video }}"><img src="assets/images/video.png"></a>
            </div>
            {% endif %}
            {% if post.slides %}
            <div class="col-6">
                <a target="_blank" href="{{ post.slides }}"><img src="assets/images/slides.png"></a>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
<!-- end post -->